{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% import 'twigMacro/linkMacro.twig' as link %}

{% block content %}

<section class="container">
    <h1 class="d-flex">

        {{title }}

        {{ link.buttonLink('<i class=\'bx bx-redo\'></i> Les articles','?route=adminArticles', {position: 'ms-auto my-auto'}) }}

        {{ link.buttonLink('<i class=\'bx bx-redo\'></i> Les utilisateurs','?route=adminUsers', {position: 'mx-2 my-auto'}) }}

    </h1>
</section>

<section class="container">
    <h3><i class='bx bx-search-alt-2'></i>  Filtrer les résultats :</h3>
    <div class="row p-3 p-sm-0">
        <div class="col-md-12">
            <form method="get" class="mb-3">

                {{ form.hiddenInput('route', {value: 'adminComments'}) }}

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            textQ: {
                                type: 'text',
                                label: 'Commentaire contenant',
                                name: 'q',
                                value: get.get('q'),
                                placeholder: '...'
                                },
                            selectAuthor: {
                                type: 'select',
                                label: 'De l\'auteur',
                                name: 'userId',
                                dataList: users,
                                options: {
                                    genericOption: {
                                        value: '',
                                        name: '- Tous -'
                                        },
                                    labelPosition: 'ms-2',
                                    selected: get.get('userId'),
                                    }
                                } 
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            selectArticleId: {
                                type: 'select',
                                label: 'De l\'article',
                                name: 'articleId',
                                dataList: articles,
                                options: {
                                    genericOption: {
                                        value: '',
                                        name: 'Tous les articles'
                                        },
                                    selected: get.get('articleId')
                                    }
                                } 
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            datetimeAfterDatetime: {
                                type: 'datetime-local',
                                label: 'Après',
                                name: 'afterDatetime',
                                value: get.get('afterDatetime'),
                                },
                            datetimeBeforeDatetime: {
                                type: 'datetime-local',
                                label: 'Avant',
                                name: 'beforeDatetime',
                                value: get.get('beforeDatetime'),
                                options: {labelPosition: 'ms-lg-2'}                        
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            RadioValidatedValidated: {
                                type: 'radio',
                                label: 'Validés',
                                name: 'validated',
                                id: 'validated',
                                value: 'validated',
                                checked: get.get('validated')
                                },
                            RadioValidatedPending: {
                                type: 'radio',
                                label: 'Non Validés',
                                name: 'validated',
                                id: 'pending',
                                value: 'pending',
                                checked: get.get('validated')                                
                                },
                            RadioValidatedAll: {
                                type: 'radio',
                                label: 'Tous',
                                name: 'validated',
                                id: 'all',
                                value: 'all',
                                checked: get.get('validated')                                
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-6">
                        {{ form.inputGroup({
                            SelectLimit: {
                                type: 'select',
                                label: 'Résultats par page',
                                name: 'limit',
                                dataList: limits,
                                options: {
                                    selected: get.get('limit'),
                                    default: "20"
                                    }
                                } 
                            })
                        }}
                    </div>
                </div>

                <button class="btn btn-primary">Rechercher</button>
                
            </form>         
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if comments is not empty %}          
            <h5>{{ pageCommentsCount }} / {{ totalCommentsCount }} Résultat(s) - Page {{ page }} / {{ pages }}</h5>
            {% endif %}
            <table class="adminTable table table-striped table-hover table-dark text-center" id="resultsTable">
                <thead>
                    <tr>
                        <th> Auteur </th>
                        <th> Extrait </th>
                        <th> Date </th>
                        <th> En lien avec l'article </th>
                        <th> Valider / Voir le commentaire </th>
                        <th> Supprimer le commentaire </th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                        
                            <td> {{ link.link(comment.getUserPseudo(), '?route=profile&userId=' ~ comment.getUserId()) }} </td>

                            <td> {{ comment.getExcerptContent() }} </td>

                            <td> {{ comment.getFormatedDate(comment.getCreatedAt()) }} </td>

                            <td> {{ link.link(comment.getArticleTitle(), '?route=article&articleId=' ~ comment.getArticleId()) }} </td>
    
                            <td>
                                {% if comment.getValidated() %}
                                    {{ link.link('<i class=\'bx bx-comment-x\'></i> Suspendre', '?route=updateCommentValidation&commentId=' ~ comment.getId() ~ '&validation=0&token=' ~ session.get('csrfToken')) }}
                                {% else %}
                                    {{ link.link('<i class=\'bx bx-comment-check\' ></i> Valider', '?route=updateCommentValidation&commentId=' ~ comment.getId() ~ '&validation=1&token=' ~ session.get('csrfToken')) }}
                                {% endif %}
                                
                                <span> | </span>
                                
                                {{ link.link('<i class=\'bx bx-glasses\'></i> Voir', '?route=viewSingleComment&commentId=' ~ comment.getId()) }} </td>

                            <td> {{ link.link('<i class=\'bx bx-trash-alt\'></i> Supprimer', '?route=deleteComment&commentId=' ~ comment.getId() ~ '&token=' ~ session.get('csrfToken')) }} </td>

                        </tr>
                    {% endfor %}
                    {% if comments is empty %}
                        <tr>
                            <td colspan="6" class="text-center">
                                Aucun commentaire correspondant à la recherche
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between my-4">
                {% if previousPageURL %}
                    {{ link.buttonLink('❮ Page précédente', previousPageURL) }}
                {% endif %}
                {% if nextPageURL %}
                    {{ link.buttonLink('Page suivante ❯', nextPageURL,{position: 'ms-auto'}) }}
                {% endif %}
            </div>
        </div>
    </div>   
</section>

{% endblock %}