{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% import 'twigMacro/linkMacro.twig' as link %}

{% block content %}

<section class="container shadow-lg p-2 mb-4">
    <h2 class="d-flex">Commentaires en attente de validation <i class='bx bxs-comment-check mx-3'></i>{{ link.buttonLink('<i class=\'bx bx-redo\'></i> Section Commentaires', '?route=adminComments', { position : 'ms-auto'}) }}</h2>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-dark text-center">
                <thead>
                    <tr>
                        <th> Auteur </th>
                        <th> Extrait </th>
                        <th> Date </th>
                        <th> En lien avec l'article </th>
                        <th> Valider / Voir le commentaire </th>
                        <th> Supprimer le commentaire </th>
                    </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                    
                        <td> {{ link.link(comment.getUserPseudo(), '?route=profile&userId=' ~ comment.getUserId()) }} </td>

                        <td> {{ comment.getExcerptContent() }} </td>

                        <td> {{ comment.getFormatedDate(comment.getCreatedAt()) }} </td>

                        <td> {{ link.link(comment.getArticleTitle(), '?route=article&articleId=' ~ comment.getArticleId()) }} </td>

                        <td> {{ link.link('<i class=\'bx bx-comment-check\' ></i> Valider', '?route=updateCommentValidation&commentId=' ~ comment.getId() ~ '&validation=1') }}<span> | </span>{{ link.link('<i class=\'bx bx-glasses\' ></i> Voir', '?route=viewSingleComment&commentId=' ~ comment.getId()) }} </td>

                        <td> {{ link.link('<i class=\'bx bx-trash-alt\'></i> Supprimer', '?route=deleteComment&commentId=' ~ comment.getId()) }} </td>

                    </tr>
                {% endfor %}
                {% if comments is empty %}
                    <td colspan="6" class="text-center">
                        Aucun nouveau commentaire à valider
                    </td>
                {% endif %}
                </tbody>
            </table>
        </div>    
</section>

<section class="container shadow-lg p-2 mb-4">
    <h2 class="d-flex">Les articles <i class='bx bx-book-open mx-3' ></i>{{ link.buttonLink('<i class=\'bx bx-redo\'></i> Section Articles', '?route=adminArticles', { position : 'ms-auto'}) }}</h2>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-dark text-center">
                <thead>
                    <tr>                    
                        <th> Titre </th>
                        <th> Date de création </th>
                        <th> Modifier L'article </th>
                        <th> Statut </th>
                        <th> Commentaires </th>
                        <th> Supprimer </th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                            <tr>

                                <td> {{ link.link(article.getTitle(), '?route=article&articleId=' ~ article.getId()) }} </td>

                                <td> {{ article.getFormatedDate(article.getCreatedAt()) }} </td>

                                <td> {{ link.link('<i class=\'bx bx-pencil \' ></i> Modifier', '?route=editArticle&articleId=' ~ article.getId()) }} </td>

                                <td> 
                                    {% if article.getStatusId() is same as("1") %}
                                        <i class='bx bx-check-circle'></i> Public
                                    {% elseif article.getStatusId() is same as("2") %}
                                        <i class='bx bxs-mask' ></i> Privé
                                    {% elseif article.getStatusId()  is same as("3") %}
                                        <i class='bx bx-hourglass'></i> En attente
                                    {% endif %} 
                                </td>

                                <td> 
                                    {% if article.getAllowComment() is same as("1") %}
                                        <i class='bx bx-check-circle'></i> Autorisés
                                    {% else %}
                                        <i class='bx bx-block' ></i> Désactivés
                                    {% endif %} 
                                </td>

                                <td> {{ link.link('<i class=\'bx bx-trash-alt\'></i> Supprimer', '?route=deleteArticle&articleId=' ~ article.getId()) }} </td>

                            </tr>
                {% endfor %}
                {% if articles is empty %}
                    <td colspan="7" class="text-center">
                        Aucun article
                    </td>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="container shadow-lg p-2 mb-4">
    <h2 class="d-flex">Les utilisateurs <i class='bx bxs-user-account mx-3'></i>{{ link.buttonLink('<i class=\'bx bx-redo\'></i> Section Utilisateurs', '?route=adminUsers', { position : 'ms-auto'}) }}</h2>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-hover table-dark text-center">
                <thead>
                    <tr>                    
                        <th> Pseudo </th>
                        <th> Date d'inscription</th>
                        <th> Role </th>
                        <th> Score </th>
                        <th> Statut </th>
                        <th> Changer le role </th>
                        <th> Supprimer </th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}

                            <tr>

                                <td> {{ link.link(user.getPseudo(), '?route=profile&userId=' ~ user.getId()) }} </td>

                                <td> {{ user.getFormatedDate(user.getCreatedAt()) }} </td>

                                <td>
                                    {% if user.getRoleId() is same as("1") %}
                                       <i class='bx bx-crown'></i> Administrateur
                                    {% elseif user.getRoleId() is same as("2") %}
                                        <i class='bx bx-user'></i> Utilisateur
                                    {% elseif user.getRoleId() is same as("3") %}
                                        <i class='bx bx-pencil'></i> Éditeur
                                    {% elseif user.getRoleId() is same as("4") %}
                                        <i class='bx bx-glasses'></i> Modérateur
                                    {% endif %}       
                                </td>

                                <td> {{ user.getScore() }} </td>

                                <td> 
                                    {% if user.getStatusId() is same as("1") %}
                                        <i class="">Zzz</i>
                                    {% elseif user.getStatusId() is same as("2") %}
                                        <i class='bx bx-smile'></i> Connecté
                                    {% elseif user.getStatusId()  is same as("3") %}
                                        <i class='bx bx-block' ></i> Banni
                                    {% endif %} 
                                </td>

                                <td>
                                    {% if user.getRoleId() is same as("2") %}
                                        {{ link.link('<i class=\'bx bx-pencil\' ></i> Éditeur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=3') }}<span> | </span>{{ link.link('<i class=\'bx bx-glasses\' ></i> Modérateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=4') }}
                                    {% elseif user.getRoleId() is same as("3") %}
                                        {{ link.link('<i class=\'bx bx-user\' ></i> Utilisateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=2') }}<span> | </span>{{ link.link('<i class=\'bx bx-glasses\' ></i> Modérateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=4') }}
                                    {% elseif user.getRoleId() is same as("4") %}
                                        {{ link.link('<i class=\'bx bx-user\' ></i> Utilisateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=2') }}<span> | </span>{{ link.link('<i class=\'bx bx-pencil\' ></i> Éditeur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=3') }}
                                    {% else %}
                                        {{ link.link('<i class=\'bx bx-crown\' ></i>','#') }}
                                    {% endif %}                         
                                </td>

                                <td>
                                    {% if user.getRoleId() is same as("1") %}

                                        {{ link.link('<i class=\'bx bx-crown\' ></i>','#', { class : 'mx-auto'}) }}

                                    {% else %}

                                        {% if user.getStatusId() is not same as("3") %}

                                            {{ link.link('<i class=\'bx bx-block\' ></i> Bannir', '?route=updateUserStatus&userId=' ~ user.getId() ~ '&statusId=3') }}

                                        {% else %}

                                            {{ link.link('Relaxer', '?route=updateUserStatus&userId=' ~ user.getId() ~ '&statusId=1') }}

                                        {% endif %}

                                        <span> | </span>{{ link.link('<i class=\'bx bx-trash-alt\'></i> Supprimer', '?route=deleteUser&userId=' ~ user.getId()) }}

                                    {% endif %} 
                                </td>
                            </tr>
                {% endfor %}
                {% if users is empty %}
                    <td colspan="6" class="text-center">
                        Aucun utilisateur
                    </td>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}