{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% import 'twigMacro/linkMacro.twig' as link %}

{% block content %}

<section class="container">
    <h1 class="d-flex">

        {{ title }}

        {{ link.buttonLink('<i class=\'bx bx-redo\'></i> Les commentaires','?route=adminComments', {position: 'ms-auto my-auto'}) }}

        {{ link.buttonLink('<i class=\'bx bx-redo\'></i> Les articles','?route=adminArticles', {position: 'mx-2 my-auto'}) }}

    </h1>
</section>

<section class="container">
    <h3><i class='bx bx-search-alt-2'></i>  Filtrer les résultats :</h3>
    <div class="row p-3 p-sm-0">
        <div class="col-md-12">
            <form method="get" class="mb-3">
                {{ form.hiddenInput('route', {value: 'adminUsers'}) }}

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            textQ: {
                                type: 'text',
                                label: 'Pseudo',
                                name: 'q',
                                value: get.get('q'),
                                placeholder: '...'
                                },
                            numberScoreHigherThan: {
                                type: 'number',
                                label: 'Score supérieur à',
                                name: 'scoreHigherThan',
                                value: get.get('scoreHigherThan'),
                                options: {labelPosition: 'ms-lg-2'}                    
                                },
                            numberScoreLowerThan: {
                                type: 'number',
                                label: 'Score inférieur à',
                                name: 'scoreLowerThan',
                                value: get.get('scoreLowerThan'),
                                options: {labelPosition: 'ms-lg-2'}                 
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            datetimeAfterDatetime: {
                                type: 'datetime-local',
                                label: 'Inscrit après',
                                name: 'afterDatetime',
                                value: get.get('afterDatetime'),
                                },
                            datetimeBeforeDatetime: {
                                type: 'datetime-local',
                                label: 'inscrit avant',
                                name: 'beforeDatetime',
                                value: get.get('beforeDatetime'),
                                options: {labelPosition: 'ms-lg-2'}
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        <h4>Avec le statut : </h4>
                        {{ form.inputGroup({
                            checkboxStatusOnline: {
                                type: 'checkbox',
                                label: 'En ligne',
                                name: 'online',
                                id: 'online',
                                value: 'on',
                                checked: get.get('online')
                                },
                            checkboxStatusOffline: {
                                type: 'checkbox',
                                label: 'Hors ligne',
                                name: 'offline',
                                id: 'offline',
                                value: 'on',
                                checked: get.get('offline')                                
                                },
                            checkboxStatusBanned: {
                                type: 'checkbox',
                                label: 'Bannis',
                                name: 'banned',
                                id: 'banned',
                                value: 'on',
                                checked: get.get('banned')                                
                                },
                            checkboxStatusAll: {
                                type: 'checkbox',
                                label: 'Tous',
                                name: 'allUserStatus',
                                id: 'allUserStatus',
                                value: 'on',
                                checked: get.get('allUserStatus')                                
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        <h4>Rôle : </h4>
                        {{ form.inputGroup({
                            checkboxRoleAdmin: {
                                type: 'checkbox',
                                label: 'Administrateur',
                                name: 'admin',
                                id: 'admin',
                                value: 'on',
                                checked: get.get('admin')
                                },
                            checkboxRoleModerator: {
                                type: 'checkbox',
                                label: 'Modérateur',
                                name: 'moderator',
                                id: 'moderator',
                                value: 'on',
                                checked: get.get('moderator')                                
                                },
                            checkboxRoleEditor: {
                                type: 'checkbox',
                                label: 'Éditeur',
                                name: 'editor',
                                id: 'editor',
                                value: 'on',
                                checked: get.get('editor')                                
                                },
                            checkboxRoleUser: {
                                type: 'checkbox',
                                label: 'Utilisateur',
                                name: 'user',
                                id: 'user',
                                value: 'on',
                                checked: get.get('user')                                
                                },                                
                            checkboxRoleAll: {
                                type: 'checkbox',
                                label: 'Tous',
                                name: 'allUserRoles',
                                id: 'allUserRoles',
                                value: 'on',
                                checked: get.get('allUserRoles')                                
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-6">
                        {{ form.inputGroup({
                            SelectLimit: {
                                type: 'select',
                                label: 'Résultats par page',
                                name: 'limit',
                                dataList: limits,
                                options: {
                                    selected: get.get('limit'),
                                    default: "20"
                                    }
                                } 
                            })
                        }}
                    </div>
                </div> 

                <button class="btn btn-primary">Rechercher</button>
            </form>         
        </div>
    </div>
    <div class="row">
        <div class="col">
        {% if users is not empty %}   
        <h5>{{ pageUsersCount }} / {{ totalUsersCount }} Résultat(s) - Page {{ page }} / {{ pages }}</h5>
        {% endif %}
            <table class="adminTable table table-striped table-hover table-dark text-center">
                <thead>
                    <tr>                    
                        <th> Pseudo </th>
                        <th> Date d'inscription</th>
                        <th> Role </th>
                        <th> Score </th>
                        <th> Statut </th>
                        <th> Modifier le role </th>
                        <th> Modifier le statut / Supprimer </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td> {{ link.link(user.getPseudo(), '?route=profile&userId=' ~ user.getId()) }} </td>

                            <td> {{ user.getFormatedDate(user.getCreatedAt()) }} </td>
                        
                            <td>
                                {% if user.getRoleId() is same as("1") %}
                                    <i class='bx bx-crown'></i> Administrateur
                                {% elseif user.getRoleId() is same as("2") %}
                                    <i class='bx bx-user'></i> Utilisateur
                                {% elseif user.getRoleId() is same as("3") %}
                                    <i class='bx bx-pencil'></i> Éditeur
                                {% elseif user.getRoleId() is same as("4") %}
                                    <i class='bx bx-glasses'></i> Modérateur
                                {% endif %}       
                            </td>

                            <td> {{ user.getScore() }} </td>

                            <td> 
                                {% if user.getStatusId() is same as("1") %}
                                    <i class="">Zzz</i>
                                {% elseif user.getStatusId() is same as("2") %}
                                    <i class='bx bx-smile'></i> Connecté
                                {% elseif user.getStatusId()  is same as("3") %}
                                    <i class='bx bx-block' ></i> Banni
                                {% endif %} 
                            </td>

                            <td>
                                {% if user.getRoleId() is same as("2") %}
                                    {{ link.link('<i class=\'bx bx-pencil\' ></i> Éditeur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=3') }}<span> | </span>{{ link.link('<i class=\'bx bx-glasses\' ></i> Modérateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=4') }}
                                {% elseif user.getRoleId() is same as("3") %}
                                    {{ link.link('<i class=\'bx bx-user\' ></i> Utilisateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=2') }}<span> | </span>{{ link.link('<i class=\'bx bx-glasses\' ></i> Modérateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=4') }}
                                {% elseif user.getRoleId() is same as("4") %}
                                    {{ link.link('<i class=\'bx bx-user\' ></i> Utilisateur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=2') }}<span> | </span>{{ link.link('<i class=\'bx bx-pencil\' ></i> Éditeur', '?route=updateUserRole&userId=' ~ user.getId() ~ '&roleId=3') }}
                                {% else %}
                                    {{ link.link('<i class=\'bx bx-crown\' ></i>','#') }}
                                {% endif %}                         
                            </td>

                            <td>
                                {% if user.getRoleId() is same as("1") %}

                                    {{ link.link('<i class=\'bx bx-crown\' ></i>','#', {class: 'mx-auto'}) }}

                                {% else %}

                                    {% if user.getStatusId() is not same as("3") %}

                                        {{ link.link('<i class=\'bx bx-block\' ></i> Bannir', '?route=updateUserStatus&userId=' ~ user.getId() ~ '&statusId=3') }}

                                    {% else %}

                                        {{ link.link('Relaxer', '?route=updateUserStatus&userId=' ~ user.getId() ~ '&statusId=1') }}

                                    {% endif %}

                                    <span> | </span>{{ link.link('<i class=\'bx bx-trash-alt\'></i> Supprimer', '?route=deleteUser&userId=' ~ user.getId()) }}

                                {% endif %} 
                            </td>
                        </tr>
                    {% endfor %}
                    {% if users is empty %}
                        <tr>
                            <td colspan="7" class="text-center">
                                Aucun utilisateur correspondant à la recherche
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between my-4">
                {% if previousPageURL %}
                    {{ link.buttonLink('❮ Page précédente', previousPageURL) }}
                {% endif %}
                {% if nextPageURL %}
                    {{ link.buttonLink('Page suivante ❯', nextPageURL,{position: 'ms-auto'}) }}
                {% endif %}
            </div>
        </div>
    </div> 
</section>

{% endblock %}