{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% import 'twigMacro/linkMacro.twig' as link %}

{% block content %}

<section class="container">
    <h1 class="d-flex">

        {{ title }}

        {{ link.buttonLink('<i class=\'bx bx-redo\'></i> Les commentaires','?route=adminComments', {position: 'ms-auto my-auto'}) }}

        {{ link.buttonLink('<i class=\'bx bx-redo\'></i> Les utilisateurs','?route=adminUsers', {position: 'mx-2 my-auto'}) }}

    </h1>
</section>

<section class="container">
    <h3><i class='bx bx-search-alt-2'></i>  Filtrer les résultats :</h3>
    <div class="row p-3 p-sm-0">
        <div class="col-md-12">
            <form method="get" class="mb-3">

                {{ form.hiddenInput('route', {value: 'adminArticles'}) }}

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            textQ: {
                                type: 'text',
                                label: 'Article contenant',
                                name: 'q',
                                value: get.get('q'),
                                placeholder: '...'
                                },
                            selectAuthor: {
                                type: 'select',
                                label: 'De l\'auteur',
                                name: 'authorId',
                                dataList: users,
                                options: {
                                    genericOption: {
                                        value: '',
                                        name: '- Tous -'
                                        },
                                    labelPosition: 'ms-2',
                                    selected: get.get('authorId'),
                                    }
                                },
                            selectCategory: {
                                type: 'select',
                                label: 'Catégorie',
                                name: 'categoryId',
                                dataList: categories,
                                options: {
                                    genericOption: {
                                        value: '',
                                        name: '- Tous les articles -'
                                        },
                                    labelPosition: 'ms-2',
                                    selected: get.get('categoryId'),
                                    }
                                } 
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            datetimeAfterDatetime: {
                                type: 'datetime-local',
                                label: 'Après',
                                name: 'afterDatetime',
                                value: get.get('afterDatetime'),
                                },
                            datetimeBeforeDatetime: {
                                type: 'datetime-local',
                                label: 'Avant',
                                name: 'beforeDatetime',
                                value: get.get('beforeDatetime'),
                                options: {labelPosition: 'ms-lg-2'}                        
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-9">
                        {{ form.inputGroup({
                            checkboxStatusPublished: {
                                type: 'checkbox',
                                label: 'Publiés',
                                name: 'published',
                                id: 'published',
                                value: 'on',
                                checked: get.get('published')
                                },
                            checkboxStatusPrivate: {
                                type: 'checkbox',
                                label: 'Privés',
                                name: 'private',
                                id: 'private',
                                value: 'on',
                                checked: get.get('private')                                
                                },
                            checkboxStatusStandby: {
                                type: 'checkbox',
                                label: 'En attente avant publication',
                                name: 'standby',
                                id: 'standby',
                                value: 'on',
                                checked: get.get('standby')                                
                                },
                            checkboxStatusAll: {
                                type: 'checkbox',
                                label: 'Tous',
                                name: 'all',
                                id: 'all',
                                value: 'on',
                                checked: get.get('all')                                
                                }
                            })
                        }}
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-6">
                        {{ form.inputGroup({
                            SelectLimit: {
                                type: 'select',
                                label: 'Résultats par page',
                                name: 'limit',
                                dataList: limits,
                                options: {
                                    selected: get.get('limit'),
                                    default: "20"
                                    }
                                } 
                            })
                        }}
                    </div>
                </div>              
 
                <button class="btn btn-primary">Rechercher</button>
            </form>         
        </div>
    </div>
    <div class="row">
        <div class="col">
        {% if articles is not empty %}   
        <h5>{{ pageArticlesCount }} / {{ totalArticlesCount }} Résultat(s) - Page {{ page }} / {{ pages }}</h5>
        {% endif %}
            <table class="adminTable table table-striped table-hover table-dark text-center">
                <thead>
                    <tr>                    
                        <th> Titre </th>
                        <th> Auteur </th>
                        <th> Catégorie </th>
                        <th> Date de création </th>
                        <th> Modifier L'article </th>
                        <th> Statut </th>
                        <th> Changer le statut </th>
                        <th> Supprimer Définitivement</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td> {{ link.link(article.getTitle()|u.truncate(25, '...') , '?route=article&articleId=' ~ article.getId()) }} </td>

                            <td> {{ link.link(article.getAuthorPseudo(), '?route=profile&userId=' ~ article.getAuthorId()) }} </td>

                            <td> {{ article.getCategoryName() is not same as(null) and article.getCategoryName() is not same as("aucune") ? article.getCategoryName() : "aucune" }} </td>

                            <td> {{ article.getFormatedDate(article.getCreatedAt()) }} </td>

                            <td> {{ link.link('<i class=\'bx bx-pencil\'></i> Modifier', '?route=editArticle&articleId=' ~ article.getId()) }} </td>
                            
                            <td>   
                                    {% if article.getStatusId() is same as("1") %}
                                        <i class='bx bx-check-circle'></i> Public
                                    {% elseif article.getStatusId() is same as("2") %}
                                        <i class='bx bxs-mask' ></i> Privé
                                    {% elseif article.getStatusId()  is same as("3") %}
                                        <i class='bx bx-hourglass'></i> En attente
                                    {% endif %} </td>
                            <td>
                                {% if article.getStatusId() is same as("1") %}
                                    {{ link.link('Privé', '?route=updateArticleStatus&articleId=' ~ article.getId() ~ '&statusId=2&token=' ~ session.get('csrfToken')) }}
                                    <span> | </span>
                                    {{ link.link('Suspendre', '?route=updateArticleStatus&articleId=' ~ article.getId() ~ '&statusId=3&token=' ~ session.get('csrfToken')) }}
                                {% elseif article.getStatusId() is same as("2") %}
                                    {{ link.link('Public', '?route=updateArticleStatus&articleId=' ~ article.getId() ~ '&statusId=1&token=' ~ session.get('csrfToken')) }}
                                    <span> | </span>
                                    {{ link.link('Suspendre', '?route=updateArticleStatus&articleId=' ~ article.getId() ~ '&statusId=3&token=' ~ session.get('csrfToken')) }}
                                {% elseif article.getStatusId() is same as("3") %}
                                    {{ link.link('Public', '?route=updateArticleStatus&articleId=' ~ article.getId() ~ '&statusId=1&token=' ~ session.get('csrfToken')) }}
                                    <span> | </span>
                                    {{ link.link('Privé', '?route=updateArticleStatus&articleId=' ~ article.getId() ~ '&statusId=2&token=' ~ session.get('csrfToken')) }}
                                {% endif %}                           
                            </td>

                            <td> {{ link.link('<i class=\'bx bx-trash-alt\'></i> Supprimer', '?route=deleteArticle&articleId=' ~ article.getId() ~ '&token=' ~ session.get('csrfToken')) }} </td>
                        </tr>
                    {% endfor %}
                    {% if articles is empty %}
                        <tr>
                            <td colspan="8" class="text-center">
                                Aucun article correspondant à la recherche
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between my-4">
                {% if previousPageURL %}
                    {{ link.buttonLink('❮ Page précédente', previousPageURL) }}
                {% endif %}
                {% if nextPageURL %}
                    {{ link.buttonLink('Page suivante ❯', nextPageURL,{position : 'ms-auto'}) }}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}