{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% block head %}
    <script src="../vendor/tinymce/tinymce/tinymce.min.js"></script>
{% endblock %}

{% block content %}

<section class="container mb-3">
    <div class="row justify-content-md-center">
        <div class="col-10 shadow">
            <h1>{{ title }}</h1>
            <form method="post" action="?route={{ post.get('id') ? 'editArticle&articleId=' ~ post.get('id') : 'addArticle'}}">
                <div class="row">
                    <div class="col">

                        <div class="row">

                            {{ form.input('text','Titre de l\'article','title', { errors : errors.title, value : post.get('title'), help : '63 caractères maximum : 0/63'}) }}
        
                            {{ form.select('Auteur','authorId', users, { errors : errors.authorId, selected : post.get('authorId') ?: session.get('id') }) }}
                            
                            {{ form.select('Catégorie','categoryId', categories, { errors : errors.categoryId, selected : post.get('categoryId') }) }}

                        </div>

                        {{ form.textarea('Chapô', 'lede', 'articleLede', { errors : errors.lede, value : post.get('lede') ? post.get('lede') | markdown_to_html, help : '0/500'}) }}

                        {{ form.textarea('Contenu de l\'article', 'content', 'articleContent', { errors : errors.content, value : post.get('content') ? post.get('content') | markdown_to_html, size : 500, help : '0/2000'}) }}

                        <div class="row">

                            {{ form.checkbox({ 
                                allowComment : {
                                    name : 'allowComment',
                                    label : 'Autoriser les commentaires sur cet article',
                                    value : "1",
                                    checked : post.get('allowComment')
                                    }
                                }) 
                            }}

                            {{ form.radio('statusId',{
                                published : {
                                    id : 'published',
                                    label : 'Publier',
                                    name : 'statusId1',
                                    value : '1',
                                    checked : post.get('statusId'),
                                    default : true
                                    },
                                private : {
                                    id : 'private',
                                    label : 'Publier en privé',
                                    name : 'statusId2',
                                    value : '2',
                                    checked : post.get('statusId')
                                    },
                                hidden : {
                                    id : 'hidden',
                                    label : 'Attendre avant publication',
                                    name : 'statusId3',
                                    value : '3',
                                    checked : post.get('statusId')
                                    }
                                }, { errors : errors.statusId })
                            }}

                        </div>
                        {{ form.submit( post.get('id') ? 'Mettre à jour' : 'Créer l\'article' ,{ position : 'me-auto'}) }}

                    </div>
                </div>
            </form>                       
        </div>      
    </div>
</section>
   <script type="text/javascript">
        tinymce.init({
            selector: '#articleLede',
            plugins: 'wordcount',        
            setup: function lede (text) {
                let ledeContentHelp = document.getElementById("ledeContentHelp");
                let ledeTextarea = document.getElementById("articleLede");
                text.on('keyup', function (e) {
                    let ledeCharactersCount = tinymce.editors.articleLede.plugins.wordcount.body.getCharacterCount();
                    ledeContentHelp.innerHTML = ledeCharactersCount + "/500 caractères";
                    if(ledeCharactersCount > 500){
                        ledeContentHelp.classList.add("invalid-feedback");
                        ledeTextarea.classList.add("is-invalid");
                    } else if(ledeCharactersCount <= 500 && ledeContentHelp.classList.contains("invalid-feedback")){
                        ledeContentHelp.classList.remove("invalid-feedback");
                    }
                });
            }
        });
        tinymce.init({
            selector: '#articleContent',
            plugins: 'lists wordcount',
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | wordcount' ,
            setup: function content (text) {
                let contentContentHelp = document.getElementById("contentContentHelp");
                let contentTextarea = document.getElementById("articleContent");
                text.on('keyup', function (e) { 
                    let contentCharactersCount = tinymce.editors.articleContent.plugins.wordcount.body.getCharacterCount();
                    contentContentHelp.innerHTML = contentCharactersCount + "/2000 caractères";
                    if(contentCharactersCount > 2000){
                        contentContentHelp.classList.add("invalid-feedback");
                        contentTextarea.classList.add("is-invalid");
                    } else if(contentCharactersCount <= 2000 && contentContentHelp.classList.contains("invalid-feedback")){
                        contentContentHelp.classList.remove("invalid-feedback");
                    }
                });
            }
            
        });
        setTimeout(function(){
            document.getElementById('articleLede_ifr').contentWindow.document.querySelector("#tinymce").dispatchEvent(new Event('keyup'));
            document.getElementById('articleContent_ifr').contentWindow.document.querySelector("#tinymce").dispatchEvent(new Event('keyup'));
            }, 400);
        
    </script>
{% endblock %}