{% extends 'base.twig' %}

{% import 'twigMacro/linkMacro.twig' as link %}

{% import 'twigMacro/formMacro.twig' as form %}

{% block content %}

<section class="container-fluid mb-3">
    <div class="row justify-content-center flex-row-reverse">
        <div class="col-12 col-sm-6 col-md-3 d-flex justify-content-center">
            <div class="card" style="width:15rem;">
                <img src="uploads/photo.png" alt="photo_maxence_bonnet" class="card-img rounded mx-auto d-block px-3 py-2">
                <div class="card-body text-center">
                    <h5 class="card-title">Maxence Bonnet</h5>
                    <p class="card-text">Éternel étudiant dans l'univers de la programmation et de l'informatique.</p>
                    {{ link.buttonLink('Voir mon CV', 'uploads/CV.pdf', {target: '_blank'}) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 p-3 ms-3">
            <h1> Bienvenue sur mon blog </h1>

            <h2> À propos de moi : </h2>

            <p>Né à Orléans en 1994, je me suis beaucoup déplacé pendant ma scolarité (Guadeloupe, Dijon, Saint-Brieux, Quimper, Nantes, Amiens). J'ai
            passé un Bac S en 2012, puis obtenu un BTS en gestion & maitrise de l'eau, une license Professionnel en Agriculture, Agronomie et Développement Durable.
            Après des périodes alternant bénévolat pour la faune sauvage et emplois, j'ai décidé de m'intéresser à l'informatique non plus comme un hobby, mais 
            comme une réelle perspective d'avenir professionel.

            <h2> Et maintenant ? </h2>

            <p>Mon intérêt naissant pour la programmation m’a amené à me former au sein de l’organisme OpenClassrooms. Je me suis intéressé dans un 
            premier temps aux cours concernant le fonction des réseaux TCP/IP, les bases de Linux, HTML 5 & CSS, puis il m'est apparu nécessaire 
            de confirmer ce qui devenait ma passion en réels acquis certifiés.</p>

            <p>Grâce au soutien de pôle-emploi, j'ai pu m'orienter vers une première formation : initiation fullstack, formation condensée 
            de 3 mois qui a confirmé ma volonté d’approfondir mes connaissances et compétences en matière de développement PHP, et backend 
            de manière générale.</p>

            <p>Pour étoffer mes formations et démarrer avec un bon bagage technique avant de chercher un premier emploi, j'ai choisi de me former
            au framework Symfony dans le cadre de la formation Développeur d’application - PHP / Symfony (toujours Openclassrooms😜).</p>

            <p>Désolé pour l'esthétique qui n'est pas encore très poussée, j'ai plus d'affinité pour le backend vous l'aurez compris.</p>


        </div>
    </div>
</section>
<hr>
<section class="container-fluid container-md mb-3">
    <div class="row justify-content-md-center">
        <div class="col-md-9 shadow p-3">
            <h4 class="text-center text-md-start">Formulaire de contact</h4>
            <form method="post">
                <div class="row">

                    {{ form.input('text', 'Votre nom', 'lastname', {errors: errors.lastname, value: post.get('lastname'), placeholder: 'Dupont', help: {text: '', limit: '0/60'}}) }}

                    {{ form.input('text', 'Votre prénom', 'firstname', {errors: errors.firstname, value: post.get('firstname'), placeholder: 'Jean',  help: {text: '', limit: '0/60'} }) }}

                </div>

                {{ form.input('email', 'Votre email', 'email', {errors: errors.email, value: post.get('email')}) }}
                
                {{ form.textarea('Votre message', 'message', 'message',{errors: errors.message, value: post.get('message'), placeholder: '...', help: {text: '20 caractères minimum :', limit: '0/500'}}) }}

                {{ form.submit('Envoyer', {position: 'mx-auto'}) }}    
            </form>
        </div>
    </div>
</section>
<script src="js/countChars.js"></script>
<script>
    lastnameInput = document.getElementById("lastname");
    firstnameInput = document.getElementById("firstname");
    messageTextarea = document.getElementById("message");

    lastnameInput.addEventListener("keyup", () => countChars(lastnameInput,"lastnameContentHelp",60));
    firstnameInput.addEventListener("keyup", () => countChars(firstnameInput,"firstnameContentHelp",60));
    messageTextarea.addEventListener("keyup", () => countChars(messageTextarea,"messageContentHelp",500));
</script>

{% endblock %}