{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% block content %}

<section class="container-fluid container-md mb-3">
    <div class="row justify-content-md-center">
        <div class="col shadow">
            <h1> Maxence Bonnet</h1>
                <!-- <img src="../public/uploads/photo.jpg" alt="Ceci est une photo"> -->
            <h2> Slogan </h2>
            <p> [...] </p>
            <p>
                <a href="../public/uploads/CV.pdf" target="_blank">Mon CV</a>
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut temporibus nam, quod molestiae ea atque suscipit consequuntur tempora itaque. Quaerat nam facere alias praesentium eveniet ex non incidunt corporis explicabo?
            Error vitae asperiores provident accusantium blanditiis non quidem, aut impedit. Molestias cumque dolorum error voluptas eos similique vitae molestiae quaerat ullam nemo ratione nulla aliquam ipsa, nesciunt modi iusto officia.</p>
        </div>
    </div>
</section>

<section class="container-fluid container-md mb-3">
    <div class="row justify-content-md-center">
        <div class="col-md-6 shadow-lg">
            <h4 class="text-center text-md-start">Formulaire de contact</h4>
            <form method="post">
                <div class="row">

                    {{ form.input('text', 'Votre nom', 'lastname', {errors: errors.lastname, value: post.get('lastname'), placeholder: 'Dupont', help: {text: '', limit: '0/60'}}) }}

                    {{ form.input('text', 'Votre prénom', 'firstname', {errors: errors.firstname, value: post.get('firstname'), placeholder: 'Jean',  help: {text: '', limit: '0/60'} }) }}

                </div>

                {{ form.input('email', 'Votre email', 'email', {errors: errors.email, value: post.get('email')}) }}
                
                {{ form.textarea('Votre message', 'message', 'message',{errors: errors.message, value: post.get('message'), placeholder: '...', help: {text: '20 caractères minimum :', limit: '0/500'}}) }}

                {{ form.submit('Envoyer', {position: 'mx-auto'}) }}    
            </form>
        </div>
    </div>
</section>
<script src="js/countChars.js"></script>
<script>
    lastnameInput = document.getElementById("lastname");
    firstnameInput = document.getElementById("firstname");
    messageTextarea = document.getElementById("message");

    lastnameInput.addEventListener("keyup", () => countChars(lastnameInput,"lastnameContentHelp",60));
    firstnameInput.addEventListener("keyup", () => countChars(firstnameInput,"firstnameContentHelp",60));
    messageTextarea.addEventListener("keyup", () => countChars(messageTextarea,"messageContentHelp",500));
</script>

{% endblock %}