{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% block content %}

<section class="container-fluid container-md mb-3">
    <div class="row justify-content-md-center">
        <div class="col-md-8 shadow-lg">
            <h4 class="text-center text-md-start">Formulaire d'inscription</h4>
            <form method="post">
                <div class="row">

                    {{ form.input('text', 'Votre nom*', 'lastname', {errors: errors.lastname, value: post.get('lastname'), placeholder: 'Dupont', help: {text: '60 caractères maximum :', limit: '0/60'}, required: true}) }}

                    {{ form.input('text', 'Votre prénom*', 'firstname', { errors: errors.firstname, value: post.get('firstname'), placeholder: 'Jean', help: {text: '60 caractères maximum :', limit: '0/60'}, required: true}) }}
                
                </div>
                
                <div class="row">

                    {{ form.input('text', 'Votre pseudo*', 'pseudo', {errors: errors.pseudo, value: post.get('pseudo'), placeholder: 'JeanJean', help: { text: 'Identifiant / pseudo unique<br>60 caractères maximum :', limit: '0/60'}, required: true}) }}
                
                    {{ form.input('email', 'Votre email', 'email', {errors: errors.email, value: post.get('email'), placeholder: 'exemple@monmail.com', required: true}) }}

                </div>

                <div class="row">

                    {{ form.input('password', 'Votre mot de passe*', 'password1', {errors: errors.password, help: {text: '1 chiffre, 1 majuscule, 1 caratère spécial et 8 caractères minimum', limit: '0/60'}, pattern: '(?=.*[^A-Za-z\\d])(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', required: true}) }}

                    {{ form.input('password', 'Confirmer le mot de passe*', 'password2', {errors: errors.password2, pattern: '(?=.*[^A-Za-z\\d])(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}', required: true}) }}

                </div>

                
                {{ form.input('tel', 'Votre numéro de téléphone', 'phone', {col: 'col-md-5', errors: errors.phone, value: post.get('phone'), placeholder: '0612345678', pattern: '[0-9]{10}', help: { text: '', limit: '0/10'}}) }}

                {{ form.submit('Valider', {position: 'mx-auto'}) }} 

            </form>
        </div>
    </div>
</section>
<script src="js/countChars.js"></script>
<script>
    lastnameInput = document.getElementById("lastname");
    firstnameInput = document.getElementById("firstname");
    pseudoInput = document.getElementById("pseudo");
    passwordInput = document.getElementById("password");
    phoneInput = document.getElementById("phone");

    lastnameInput.addEventListener("keyup", () => countChars(lastnameInput,"lastnameContentHelp",60));
    firstnameInput.addEventListener("keyup", () => countChars(firstnameInput,"firstnameContentHelp",60));
    pseudoInput.addEventListener("keyup", () => countChars(pseudoInput,"pseudoContentHelp",60));
    passwordInput.addEventListener("keyup", () => countChars(passwordInput,"passwordContentHelp",60));
    phoneInput.addEventListener("keyup", () => countChars(phoneInput,"phoneContentHelp",10));
</script>

{% endblock %}